
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-image:linear-gradient(90deg, #F5F3F3 0%, #000000 100%);
}
.depicter-revert .depicter-1-section-3 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-5 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-7 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-section-9 .depicter-section-background{
	background-color:#FFFFFF;
}

